header {
  border-bottom: 5px;
  padding: 10px 0 0 0;
}

body {
  background-color: lightblue;
}
footer {
  border-top: 5px;
  padding: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: blue;
}
h1 {
  margin: 0;
  font-size: 40px;
}

.main {
  max-width: 80%;
  margin: 50px 80px;
  padding: 50px;
  box-shadow: 20px;
  border-radius: 20px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}

.enter-city {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  font-size: 15px;
  margin-left: 100px;
}
.search-button {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: blue;
  margin: 0;
  font-size: 15px;
}
.data strong {
  color: blue;
}
.weather-app-temperature-container {
  display: flex;
  justify-content: end;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature {
  font-size: 60px;
  margin: ;
}

footer {
  text-align: center;
  padding: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 66px;
  height: 66px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: blue;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
